   <!-- Footer Make footer ejs from here and add extra js for page on the bottom of footer-->
   <footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
      <div
        class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
        <div class="text-body">
          ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          , made with ❤️ by BS
        </div>
        <div class="d-none d-lg-inline-block">
          <a href="#" class="footer-link me-4" target="_blank">License</a>
          <a href="#" target="_blank" class="footer-link me-4">Settings</a>

          <a
            href="#"
            target="_blank"
            class="footer-link me-4"
            >Documentation</a
          >

          <a
            href="#"
            target="_blank"
            class="footer-link"
            >Support</a
          >
        </div>
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!--div class="buy-now">
<a
href="#"
target="_blank"
class="btn btn-danger btn-buy-now"
>Upgrade to Pro</a
>
</div-->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->

<script src="../javascripts/jquery.js"></script>
<script src="../javascripts/popper.js"></script>
<script src="../javascripts/bootstrap.js"></script>
<script src="../javascripts/menu.js"></script>

<script src="../javascripts/main.js"></script>
<script src="../javascripts/SaveFormData.js"></script>
<script src="../javascripts/Validation.js"></script>



<!-- Place this tag before closing body tag for github widget button. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
