<div class="content-wrapper">
  <div class="container-xxl container-p-y flex-grow-1">

    <div class="mb-4 card">

      <!-- <div class="justify-content-between align-items-center card-header d-flex">
        <h5 class="mb-0 card-title">Examination</h5>

        <button
          type="button"
          id="addExamination"
          class="btn btn-primary"
        >
          NAD
        </button>
      </div> -->

<div class="justify-content-between align-items-center card-header d-flex">
  
  <h5 class="mb-0 card-title">Examination</h5>

  <div>
    <button type="button" id="addExamination" class="btn btn-primary">
      NAD
    </button>

    <!-- Arrow Button -->
    <button onclick="toggleExam()" 
            style="border:none; background:none; font-size:18px; margin-left:10px;">
      ▼
    </button>
  </div>

</div>


    
<div id="examSection">
      <div class="card-body">

       <div class="examination-form">

  <!-- VITALS -->
  <h6 class="mb-3 text-success">Vitals</h6>

  <div class="mb-3 row g-3">
    <div class="col-md-2"><input class="form-control" placeholder="Height (cm)"></div>
    <div class="col-md-2"><input class="form-control" placeholder="Weight (kg)"></div>
    <div class="col-md-2"><input class="form-control" placeholder="Temperature (°F)"></div>
    <div class="col-md-2"><input class="form-control" placeholder="Pulse (BPM)"></div>

    <div class="col-md-2">
      <select class="form-select">
        <option>Blood Group</option>
        <option>A+</option><option>A-</option>
        <option>B+</option><option>B-</option>
        <option>O+</option><option>O-</option>
        <option>AB+</option><option>AB-</option>
      </select>
    </div>

    <div class="col-md-2">
      <select class="form-select">
        <option>BMI</option>
        <option>A+</option>
        <option>A</option>
        <option>B+</option>
        <option>B</option>
      </select>
    </div>
  </div>

  <div class="mb-3 row g-3">
    <div class="col-md-3"><input class="form-control" placeholder="Systolic"></div>
    <div class="col-md-3"><input class="form-control" placeholder="Diastolic"></div>
  </div>

  <!-- GENERAL SIGNS -->
  <div class="mb-3 row g-3">
    <div class="col-md-2"><input class="form-control" placeholder="Pallor"></div>
    <div class="col-md-2"><input class="form-control" placeholder="Icterus"></div>
    <div class="col-md-2"><input class="form-control" placeholder="Edema"></div>
    <div class="col-md-2"><input class="form-control" placeholder="Obesity"></div>
    <div class="col-md-2"><input class="form-control" placeholder="Acne"></div>
    <div class="col-md-2"><input class="form-control" placeholder="Thyroid"></div>
  </div>

  <input class="mb-3 form-control" placeholder="Notes">

<!-- RADIO GROUPS -->
<div class="mb-3 row">

  <div class="col-md-6">
    <label>Hirsutism</label><br>
    <input type="radio" name="hirsutism" value="Yes"> Yes
    <input type="radio" name="hirsutism" value="No"> No
  </div>

 <div class="col-md-6">
  <label>Respiratory System</label><br>
  <input type="radio" name="resp" value="NAD" data-target="#respFields"> NAD
  <input type="radio" name="resp" value="Abnormal" data-target="#respFields"> Abnormal
</div>

<div id="respFields" class="mt-2 dependent-field">
  <input class="form-control" placeholder="Respiratory Details">
</div>

</div>



  <div class="mb-3 row">

   <div class="col-md-6">
  <label>Galactorrhoea</label><br>
  <input type="radio" name="galact" value="Yes"> Yes
  <input type="radio" name="galact" value="No"> No
</div>

   <div class="col-md-6">
  <label>Breast Examination</label><br>
  <input type="radio" name="breast" value="NAD" data-target="#breastFields"> NAD
  <input type="radio" name="breast" value="Abnormal" data-target="#breastFields"> Abnormal
</div>

<div id="breastFields" class="mt-2 dependent-field">
  <input class="form-control" placeholder="Breast Details">
</div>

  </div>

  <div class="mb-3 row">

   <div class="col-md-6">
  <label>Per Speculum Examination</label><br>

  <input type="radio" name="speculum" value="NAD" data-target="#speculumFields"> NAD
  <input type="radio" name="speculum" value="Abnormal" data-target="#speculumFields"> Abnormal
</div>

<div id="speculumFields" class="mt-2 dependent-field">
  <input class="form-control" placeholder="Speculum Details">
</div>

  <div class="col-md-6">
  <label>Per Abdomen Examination</label><br>

  <input type="radio" name="abdomen" value="NAD" data-target="#abdomenFields"> NAD
  <input type="radio" name="abdomen" value="Abnormal" data-target="#abdomenFields"> Abnormal
</div>

<div id="abdomenFields" class="mt-2 dependent-field">
  <input class="form-control" placeholder="Abdomen Details">
</div>

  </div>

  <div class="mb-3 row">

  <div class="col-md-6">
  <label>PAP Smear Taken</label><br>

  <input type="radio" name="papSmear" value="Yes"> Yes
  <input type="radio" name="papSmear" value="No"> No
  <input type="radio" name="papSmear" value="TakenPreviously"> Taken Previously
</div>

  <div class="col-md-6">
  <label>Per Vaginal Examination</label><br>

  <input type="radio" name="vaginal" value="NAD" data-target="#vaginalFields"> NAD
  <input type="radio" name="vaginal" value="Abnormal" data-target="#vaginalFields"> Abnormal
</div>

<div id="vaginalFields" class="mt-2 dependent-field">
  <input class="form-control" placeholder="Vaginal Details">
</div>
  </div>

  <div class="mb-3">
    <label>Appointment Date</label>
    <input type="date" class="form-control">
  </div>

  <input class="mb-4 form-control" placeholder="Notes">

  <!-- USG SECTION -->
  <h6 class="mb-3 text-success">USG</h6>

  <div class="mb-3 row g-3">
    <div class="col-md-3">
      <label>TAS / TVS</label><br>
      <input type="radio"> TAS
      <input type="radio"> TVS
    </div>

    <div class="col-md-3">
      <input class="form-control" placeholder="Day of Cycle">
    </div>

    <div class="col-md-3">
      <label>AFC Right</label>
      <input class="form-control">
    </div>

    <div class="col-md-3">
      <label>AFC Left</label>
      <input class="form-control">
    </div>
  </div>

  <!-- UTERUS -->
  <div class="mb-3 row g-3">
    <div class="col-md-6">
      <label>Uterus Size</label>
      <div class="gap-2 d-flex">
        <input class="form-control" placeholder="L">
        <input class="form-control" placeholder="B">
        <input class="form-control" placeholder="H">
      </div>
    </div>

    <div class="col-md-6">
      <label>Uterus Condition</label>
      <select class="form-select">
        <option>Normal</option>
        <option>Abnormal</option>
      </select>
    </div>
  </div>

<!-- OVARIES -->
<h6 class="mt-3 text-success">Ovaries</h6>

<div class="mb-3 row g-3">

  <!-- RIGHT OVARY -->
  <div class="col-md-6">
    <label>Right Ovary</label>
    <select class="mb-2 form-select">
      <option>Normal</option>
      <option>Abnormal</option>
    </select>

    <label>Size</label>
    <div class="gap-2 mb-2 d-flex">
      <input class="form-control" placeholder="L">
      <input class="form-control" placeholder="B">
      <input class="form-control" placeholder="H">
      <span class="mt-2">mm</span>
    </div>

    <input class="form-control" placeholder="Notes">
  </div>

  <!-- LEFT OVARY -->
  <div class="col-md-6">
    <label>Left Ovary</label>
    <select class="mb-2 form-select">
      <option>Normal</option>
      <option>Abnormal</option>
    </select>

    <label>Size</label>
    <div class="gap-2 mb-2 d-flex">
      <input class="form-control" placeholder="L">
      <input class="form-control" placeholder="B">
      <input class="form-control" placeholder="H">
      <span class="mt-2">mm</span>
    </div>

    <input class="form-control" placeholder="Notes">
  </div>

</div>
<h6 class="text-success">Hydrosalpinx</h6>

<div class="mb-3 row g-3">

  <!-- RIGHT -->
  <div class="col-md-6">
    <label>Right</label><br>
    <input type="radio" name="hydroRight" value="Yes"> Yes
    <input type="radio" name="hydroRight" value="No"> No

    <div class="mt-2 hydro-right-fields">
      <label>Size</label>
      <div class="gap-2 mb-2 d-flex">
        <input class="form-control">
        <input class="form-control">
        <span class="mt-2">mm</span>
      </div>

      <input class="form-control" placeholder="Notes">
    </div>
  </div>

  <!-- LEFT -->
  <div class="col-md-6">
    <label>Left</label><br>
    <input type="radio" name="hydroLeft" value="Yes"> Yes
    <input type="radio" name="hydroLeft" value="No"> No

    <div class="mt-2 hydro-left-fields">
      <label>Size</label>
      <div class="gap-2 mb-2 d-flex">
        <input class="form-control">
        <input class="form-control">
        <span class="mt-2">mm</span>
      </div>

      <input class="form-control" placeholder="Notes">
    </div>
  </div>

</div>
<h6 class="text-success">Adnexal</h6>

<div class="mb-3 row g-3">

  <div class="col-md-6">
    <label>Right</label>
    <select class="form-select">
      <option>Para Ovarian Cyst</option>
      <option>Normal</option>
      <option>Mass</option>
    </select>
  </div>

  <div class="col-md-6">
    <label>Left</label>
    <select class="form-select">
      <option>Para Ovarian Cyst</option>
      <option>Normal</option>
      <option>Mass</option>
    </select>
  </div>

</div>
<!-- UTERINE CAVITY -->
<div class="mb-3">
  <label>Uterine Cavity</label><br>
  <input type="radio" name="uterineCavity" value="NAD" data-target="#uterineFields"> NAD
  <input type="radio" name="uterineCavity" value="Abnormal" data-target="#uterineFields"> Abnormal
</div>

<div id="uterineFields" class="dependent-field">
  <input class="form-control" placeholder="Details">
</div>


<!-- ENDOMETRIUM -->
<div class="mb-3">
  <label>Endometrium</label><br>

  <input type="radio" name="endo" value="NotAssessed" data-target="#endoFields"> Not Assessed
  <input type="radio" name="endo" value="Normal" data-target="#endoFields"> Normal
  <input type="radio" name="endo" value="Abnormal" data-target="#endoFields"> Abnormal
</div>

<!-- Dependent Field -->
<div id="endoFields" class="mt-2 dependent-field">
  <label>Endo Thickness (mm)</label>
  <input class="form-control" placeholder="mm">
</div>

<div id="endoFields" class="dependent-field">
  <label>Endo Thickness</label>
  <input class="form-control" placeholder="mm">
</div>
<div class="mb-3 row">

  <div class="col-md-6">
    <label>Cervix</label><br>
    <input type="radio" name="cervix" value="NAD" data-target="#cervixFields"> NAD
    <input type="radio" name="cervix" value="Abnormal" data-target="#cervixFields"> Abnormal

    <div id="cervixFields" class="mt-2 dependent-field">
      <input class="form-control" placeholder="Notes">
    </div>
  </div>

  <div class="col-md-6">
    <label>Vaginismus</label><br>
    <input type="radio" name="vaginismus"> Yes
    <input type="radio" name="vaginismus"> No
  </div>

</div>


  <!-- FINAL NOTES -->
  <textarea class="mb-3 form-control" placeholder="Comments"></textarea>

  <div class="mb-4">
    <button class="btn btn-primary">Save Examination</button>
    <button class="btn btn-secondary ms-2">Cancel</button>
  </div>

</div>



        <div class="examination-list">

          <h6 class="mb-3">Existing Examinations</h6>

          <div class="text-nowrap table-responsive">

            <table class="table table-bordered">

              <thead>
                <tr>
                  <th>Date & Time</th>
                  <th>Type</th>
                  <th>Vital Signs</th>
                  <th>Findings</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody id="examinationTableBody">
              </tbody>

            </table>

          </div>

        </div>

      
      
      </div>
    </div>

    </div>

  </div>
</div>

<script>
  $(document).ready(function () {

  // -----------------------------
  // 1. HANDLE NAD / ABNORMAL TOGGLE
  // -----------------------------
  $(document).on('change', 'input[type=radio][data-target]', function () {
    const target = $(this).data('target');
    const value = $(this).val();

    if (value === "NAD" || value === "Normal" || value === "NotAssessed") {
      $(target)
        .hide()
        .find('input, select, textarea')
        .val('')
        .prop('disabled', true);
    } else {
      $(target)
        .show()
        .find('input, select, textarea')
        .prop('disabled', false);
    }
  });

  // -----------------------------
  // 2. INITIAL STATE (HIDE ALL DEPENDENT FIELDS)
  // -----------------------------
  $('.dependent-field')
    .hide()
    .find('input, select, textarea')
    .prop('disabled', true);

  // -----------------------------
  // 3. HYDROSALPINX TOGGLE
  // -----------------------------
  $('input[name="hydroRight"]').on('change', function () {
    if (this.value === 'Yes') {
      $('.hydro-right-fields').show();
    } else {
      $('.hydro-right-fields').hide().find('input').val('');
    }
  });

  $('input[name="hydroLeft"]').on('change', function () {
    if (this.value === 'Yes') {
      $('.hydro-left-fields').show();
    } else {
      $('.hydro-left-fields').hide().find('input').val('');
    }
  });

  // Hide initially
  $('.hydro-right-fields, .hydro-left-fields').hide();

  // -----------------------------
  // 4. NAD BUTTON (MASTER RESET)
  // -----------------------------
  $('#addExamination').on('click', function () {

    // Select all NAD radios
    $('input[type=radio][value="NAD"]').each(function () {
      $(this).prop('checked', true).trigger('change');
    });

    // Select all "No"
    $('input[type=radio][value="No"]').prop('checked', true);

    // Clear all inputs
    $('input[type=text], input[type=number], input[type=date], textarea').val('');

    // Reset selects
    $('select').prop('selectedIndex', 0);

    // Hide all dependent fields
    $('.dependent-field')
      .hide()
      .find('input, select, textarea')
      .prop('disabled', true);

    // Hide hydrosalpinx
    $('.hydro-right-fields, .hydro-left-fields').hide();

  });

});



function toggleExam() {
    const section = document.getElementById("examSection");

    if (section.style.display === "none") {
      section.style.display = "block";
    } else {
      section.style.display = "none";
    }
  }
</script>