<div class="content-wrapper">
  <div class="container-xxl container-p-y flex-grow-1">

    <div class="mb-4 card">

      <div class="justify-content-between align-items-center card-header d-flex">
        <h5 class="mb-0 card-title">Pre Existing Conditions</h5>

        <button
          type="button"
          id="addCondition"
          class="btn btn-primary"
        >
          <i class="bx bx-plus me-1"></i> Add
        </button>
      </div>

      <div class="card-body">

        <div class="Conditions-Info-Divs">
          <!-- dynamic conditions -->
        </div>

      </div>

    </div>

  </div>
</div>

<script>

function addConditionEntry() {

  const newDiv = $("<div>", {
    class: "condition-entry row align-items-center mb-3"
  });

  newDiv.html(`

    <div class="col-md-4">
      <input
        type="text"
        class="form-control condition-name-input"
        placeholder="Enter condition"
      >
    </div>

    <div class="col-md-4">
      <input
        type="text"
        class="form-control condition-since-input"
        placeholder="Since"
      >
    </div>

    <div class="col-md-4 d-flex gap-2">

      <button type="button" class="btn btn-sm btn-danger delete-icon">
        <i class="fa-solid fa-trash"></i>
      </button>

    </div>

  `);

  $(".Conditions-Info-Divs").append(newDiv);

  // delete
  newDiv.find(".delete-icon").click(function () {
    $(this).closest(".condition-entry").remove();
  });

}


// button click
$("#addCondition").click(function () {
  addConditionEntry();
});

</script>