<!doctype html>
<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default"
  data-assets-path="../assets/" data-template="vertical-menu-template-free" data-style="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Add Services</title>

  <meta name="description" content="" />
  <%- include('../header') -%>

    <!-- / Navbar -->
    <!-- Header and Menu ends here create a header ejs file -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->
      <style>
        .displaynone {
          display: none;
        }

        .bx-qr-scan {
          font-size: 80px;
        }
      </style>
      <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
          <!-- Vertical & Horizontal Scrollbars -->
          <div class="col-12">
            <div class="card overflow-hidden">
              <h5 class="card-header">Add Services</h5>
              <div class="card">
                <!-- Account -->
                <div class="card-body pt-4">
                  <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
                    <div id="errordiv"></div>
                    <div class="row g-6">
                      <div class="col-md-6">
                        <label for="firstName" class="form-label">Service Name*</label>
                        <input class="form-control" type="text" data-validation="required"
                          data-error-message="Please Enter Service Name" id="firstName" name="service_name">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="categoryDropdown">Service Category*</label>
                        <select id="ServiceCategory" name="service_category" data-validation="required"
                          data-error-message="Please Enter Category" class="select2 form-select">
                          <option value="">Select</option>
                          <option value="add-new">Add New</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label for="cost" class="form-label">Cost*</label>
                        <input class="form-control" type="number" id="cost" data-validation="required"
                          data-error-message="Please Enter Cost" name="cost">
                      </div>
                      <div class="col-md-6">
                        <label for="inst" class="form-label">Any Special Instructions</label>
                        <input class="form-control" type="text" id="inst" name="special_inst">
                      </div>
                      <div id="loadingIndicator"></div>
                      <div class="mt-6">
                        <button type="submit" class="btn btn-primary me-3">Save</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                      </div>
                  </form>
                </div>
                <!-- /Account -->
              </div>
            </div>
          </div>
          <!--/ Vertical & Horizontal Scrollbars -->
        </div>
      </div>
      <!-- / Content -->
      <%- include('../footer') -%>
        <script>
          $('#ServiceCategory').on('change', function () {
            if ($(this).val() === 'add-new') {
              createSmallModal("smallModal", "Category", "/addModal", "ServiceCategory")
            }
          });
          loadDropdown('ServiceCategory', 'name', '');
        </script>
        <script>

          $(document).ready(function () {
            console.log("Document is ready");

            const formId = '#formAccountSettings';
            const errorDivId = '#errordiv';


            $(formId).on('submit', async function (event) {
              event.preventDefault(); // Prevent the form from submitting

              const { isValid, errorMessage } = validateForm(formId);

              if (isValid) {
                const url = '/save-service';
                const loadingDiv = '#loadingIndicator';

                try {
                  $(loadingDiv).show(); // Show loading indicator

                  const response = await saveJsonForm(formId, url); // Perform the form submission

                  console.log('Success:', response);
                  $(errorDivId).removeClass('alert-danger').addClass('alert-success').text(response.message).show();
                } catch (error) {
                  console.error('Error:', error);
                  $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(` ${error.message || 'Unknown error'}`).show();
                } finally {
                  $(loadingDiv).hide(); // Hide loading indicator after submission
                  // window.location.href = '/Patient-list'
                }
              } else {
                $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
              }
            });
          });

        </script>